@model DoughBoysMVC.Models.Customer
@{
    ViewData["Title"] = "Order Confirmation";
}

<p>
    <h1>Thank you @Model.FirstName for your order</h1>
    An email will be sent to @Model.Email containing a copy of your order confirmation.
</p>
<h2>Order#1234 Details </h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Pickup Date</th>
        <th>Doughnut</th>
        <th>Qty</th>
        <th>Total</th>
    </tr>

    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.PhoneNo</td>
        <td>@Model.Email</td>
    </tr>
</table>
